body {
	font-family: arial;
}

h1, h2 {
	color:  green;
}


ul li a {
	color: orange;
}

ol li a {
	color: red;
}

#p1 {
	color: orange;
} /* "#" untuk id */

.p2 {
	color: red;
} /* "." untuk class */

.cetak-tebal {
	font-weight: bold;
}